target/classes/transactions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="transactionsFlow" doc:id="cc481a2f-e8df-470d-8084-7b5e1ba1f9d3" >
		<http:listener doc:name="GET /getXMLtransactions" doc:id="dc467dcf-ab11-4bd6-948d-2e801e61e71e" config-ref="HTTP_Listener_config" path="/transactions/{ID}" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"NoOfTransaction" : vars.NoOfTransaction ,
	"user_id" : vars.user_id,
	"customerID" : vars.customerID
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable value="#[attributes.headers.user_id]" doc:name="user_id" doc:id="6f8874f6-15ef-4e81-9fa6-22d6eb74de94" variableName="user_id" />
		<set-variable value="#[attributes.uriParams.ID]" doc:name="accountId" doc:id="a0a9fe53-9345-403b-aff0-651f643f127e" variableName="accountId" />
		<ee:transform doc:name="Transform Message" doc:id="a0a7eea4-04af-4313-8683-9cf2670edca1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://training.mulesoft.com/
---
{
	ns0#GetTransactionsforCustomers: {
		customerID: vars.accountId
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="ddcde337-a6d2-405d-873b-8a4b8aec7f1e" config-ref="Web_Service_Consumer_Config" operation="GetTransactionsforCustomers"/>
		<set-variable value="#[sizeOf(payload..*transaction default [])]" doc:name="totalTransactions" doc:id="af80d46b-a46b-47fe-9cbd-53bbc151f867" variableName="totalTransactions"/>
		<ee:transform doc:name="XML to JSON" doc:id="b747fb4a-f2ed-4297-ae01-06bfedf2955d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

fun getTotalAmount(obj) = do {
	var totalamount = sum(obj.*amount default [])
		
		---
 totalamount
}
ns ns0 http.//training.mulesoft.com/
---
(	payload..*transaction map (o,i)-> 
	{
		total_amount: getTotalAmount(o),
		transaction: {
			amount: o.amount,
			customerRef: o.customerRef,
			flightID: o.flightID,
			region: o.region,
			transactionID: o.transactionID	
		}
	}
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
